RewriteEngine On

# tells Apache not to rewrite if the request is for an existing file (e.g., your CSS file).
RewriteCond %{REQUEST_FILENAME} !-f

# tells Apache not to rewrite if the request is for an existing directory.
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect /book/chapter to /?book=bookname&chapter=chapter
RewriteRule ^([a-zA-Z]+)/([0-9]+)$ /bible-view.php?book=$1&chapter=$2 [L,QSA]

# In /Applications/MAMP/conf/apache/httpd.conf
# Uncomment the line that says `LoadModule rewrite_module modules/mod_rewrite.so`
# Search for <Directory /> and change AllowOverride None to AllowOverride All