
.verse {
    cursor: pointer;
}
.verse:hover {
    background-color: #f0f0f0;
}
.nav-button {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
}
.nav-button:hover {
    background-color: #007bff;
    color: white;
}
.show-read-more .more-text{
    display: none;
}
.modal-dialog {
    max-width: 90%;
    width: 90%;
    margin: 30px auto;
}

.modal-dialog.modal-fullscreen-sm-down {
    height: 90%;
}
.modal-dialog.modal-fullscreen-sm-down .modal-content {
    height: 90%;
}
.modal-dialog.modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
}

@media (max-width: 767px) {
    .modal-dialog.modal-fullscreen-sm-down {
        max-width: 100%;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    .modal-dialog.modal-fullscreen-sm-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-dialog.modal-fullscreen-sm-down .modal-body {
        overflow-y: auto;
    }
}

